In [1]:
# Add the Pandas dependency.
import pandas as pd

# If we want to use the indirect path to a file (join)
import os

In [2]:
# The map() function
#  The map() function is used for substituting each value in a Series with another value. Where the new value is generated from a function, a dictionary, or a Series

In [3]:
# Define the function
def say_hello():
    print ("Hello")

In [4]:
# Calling a Function
say_hello()

Hello

In [5]:
# Define a function
def say_something(something):
    print(something)

In [6]:
# call function with parameter
say_something("Hello World")

Hello World

In [7]:
Jane_says ="Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [8]:
# Jane_says=input()
# say_something(Jane_says)

In [9]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percentage(pass_math_count, student_count):
    return pass_math_count / float(student_count)*100

In [10]:
passing_math_count=29370
total_student_count = 39170

In [11]:
# call the function
passing_math_percentage(passing_math_count, total_student_count)

74.9808526933878

In [14]:
# A list of my grades
my_grades = ["B", "C", "D", "D"]

In [16]:
# convert the my_grade to a series
my_grades = pd.Series(my_grades)

my_grades

0    B
1    C
2    D
3    D
dtype: object

In [19]:
# using map function
# Change grade from B to A, C to B, D to C

my_grades.map({"B":"A","C":"B", "D":"C"})

0    A
1    B
2    C
3    C
dtype: object

In [23]:
# using the format() function
# .0f = decimal point, with zero decimal place, floating-point
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [24]:
# chaining the map() and format() functionss

# convert the numerical grade to a Series.--OPTION 1
my_grades=pd.Series([92.34, 84.56,86.78,78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [26]:
# convert the numerical grade to a Series.--OPTION 2

my_grades = [92.34, 84.56, 86.78, 98.32]

my_grades=pd.Series(my_grades)

my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [27]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object