In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [18]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["grade"]=="9th") & (student_data_df["school_name"]=="Thomas High School"),"reading_score"]=np.nan

student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79
1,1,Victor Smith,M,12th,Huang High School,94.0,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60
3,3,Richard Scott,M,12th,Huang High School,67.0,58
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [19]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["grade"]=="9th") & (student_data_df["school_name"]=="Thomas High School"),"math_score"]=np.nan

student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [21]:
#  Step 4. Check the student data for NaN's. 

student_data_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [6]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84,0,District,2917,1910635

In [7]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [8]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [9]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 


# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.

In [10]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [11]:
# Step 3. Calculate the passing percentages with the new total student count.

In [12]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.

In [13]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

NameError: name 'passing_math_percentage' is not defined

##  School Summary

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


# per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).

In [ ]:
# Step 6. Get all the students passing math from THS

In [ ]:
# Step 7. Get all the students passing reading from THS

In [ ]:
# Step 8. Get all the students passing math and reading from THS

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School.

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School.

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.

In [ ]:
# per_school_summary_df

## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.

In [ ]:
# Sort and show top five schools.

## Math and Reading Scores by Grade

In [ ]:
# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

In [ ]:
# Combine each Series for average math scores by school into single data frame.

In [ ]:
# Combine each Series for average reading scores by school into single data frame.

In [ ]:
# Format each grade column.

In [ ]:
# Remove the index.


# Display the data frame

In [ ]:
## Remove the index.


# Display the data frame

## Scores by School Spending

In [ ]:
# Establish the spending bins and group names.


# Categorize spending based on the bins.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Create the DataFrame

In [ ]:
# Format the DataFrame

## Scores by School Size

In [ ]:
# Establish the bins.

# Categorize spending based on the bins.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# Format the DataFrame

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# # Format the DataFrame

# Cleaning Data: determine any empty cell
* count()
* isnull().sum()
* notnull().sum()

In [ ]:
# Add the Pandas dependency.
import pandas as pd
import numpy as np

# If we want to use the indirect path to a file (join)
import os

In [ ]:
# File to Load - option 1
# school_data_to_load ="Resources/schools_complete.csv"
# student_data_to_load="Resources/students_complete.csv"

In [ ]:
# File to Load - option 2
school_data_to_load = os.path.join("Resources","schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [ ]:
# Read the school data file and store it in a Pandas DataFrame.
#read_csv() function makes it easier for us by converting the csv file to a dataFrame
school_data_df = pd.read_csv(school_data_to_load)   

# To show all rows of a DataFrame
#school_data_df

# To show first five rows of a DataFrame
#school_data_df.head()

# To show last five rows of a DataFrame
# school_data_df.tail()

# To show any nmbers of rows in a DaaFrame, place a number inside te parentheses
school_data_df.head(10)
#school_data_df.tail()

In [ ]:
 # Read the student data file and store it in a Pandas DataFrame.
student_data_df =pd.read_csv(student_data_to_load)
student_data_df.head()

In [ ]:
# The count() Method
# get the count of the rows for each column containing data. 'null" value" are not counted'
# Determine if there are any missing values in the school data.
school_data_df.count()

In [ ]:
# Determine if there are any missing values in the student data.
student_data_df.count()

In [ ]:
# The isnull() Method
# for determine empty rows, return True (is empty/null) or False (not empty)
# Determine if there are any missing values in the school data.
school_data_df.isnull()

In [ ]:
# Determine if there are any missing values in the student data.
#student_data_df.isnull()

# to get the total number of empty rows that are "True"
student_data_df.isnull().sum()

In [ ]:
# The notnull() Method
# find missing value. True = not empty, False = empty
# opposite of isnull()

# Determine if there are any missing values in the school data.
school_data_df.notnull().sum()

# Determine if there are any missing values in the student data.
student_data_df.notnull().sum()

In [ ]:
# Determine data types for the school DataFrame.
# df.types
school_data_df.dtypes

In [ ]:
# Determine data types of one column of a DataFrame

# OPTION 1: df.column name.dtype or
# school_data_df.budget.dtype

# OPTION 2: df.["column name" ].dtype (if the column name have space)
school_data_df["budget"].dtype

In [ ]:
# determine data types for the student DataFrame.
student_data_df.dtypes

In [ ]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
    
student_data_df.head(10)

In [ ]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

In [ ]:
# Get the total number of students
#school_data_complete_df[column].count()
student_count=school_data_complete_df["Student ID"].count()
student_count

In [ ]:
# Calculate the total number of schools.--option 1
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
# Calculate the total number of schools--option 2
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
#get the number of high schools from the array
len(school_data_complete_df["school_name"].unique())

In [ ]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

In [ ]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

In [ ]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

In [ ]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_math

In [ ]:
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_reading

In [ ]:
# Get all the students who are passing math in a new DataFrame.
### ???
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

In [ ]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

In [ ]:
# found all the students who have passed math and reading, you need to get the number of students who passed each subject.
passing_math["student_name"].count()

In [ ]:
len(passing_math)

In [ ]:
passing_math.count()

In [ ]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()
passing_math_count

In [ ]:
# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()
passing_reading_count

In [ ]:
print(passing_math_count)
print(passing_reading_count)

In [ ]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [ ]:
print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

In [ ]:
passing_math_reading_count=passing_math_reading["student_name"].count()
passing_math_reading_count

In [ ]:
passing_math_reading_count=passing_math_reading.student_name.count()
passing_math_reading_count

In [ ]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

In [ ]:
district_summary_df.dtypes

In [ ]:
# Format

In [ ]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

In [ ]:
# Format  with comma, $, decimal separater
district_summary_df["Total Budget"]=district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

In [ ]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

In [ ]:
district_summary_df

# 4.7.9 Reorder Columns

# STEP 1: Reoder the columns in the order you want them to appear.
new_column_order = ["column2", "column4", "column1"]

# STEP 2: Assign a new or the same DataFrame the new column order
df = df[new_column_order]

In [ ]:
# Reorder the column
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df= district_summary_df[new_column_order]
district_summary_df

# 4.8.1 Set the Index to the School Name

In [ ]:
school_data_df

In [ ]:
# Determine the school types.
# Create a Series. (NO COLUMN HEADER like DataFrame)
# set school_names column into index
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

In [ ]:
# Create a new DataFrame by converting this Series to a DataFrame
# df = pd.DataFrame(Series Name)

# Add the per_school_types into a DataFrame for testing
df= pd.DataFrame(per_school_types)
df

# 4.8.2 Get the Student Count Per School

In [ ]:
# OPTION 1: get the student count in the school_data_df DataFrame

# Calcuale the total student count.
per_school_counts = school_data_df["size"]
per_school_counts

In [ ]:
# get the student count and add school name as the index

per_school_counts=school_data_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
school_data_complete_df

In [ ]:
# OPTION 2: To get the student count from school_data_complete_df; we can count the number of time the high school appears using value_counts()

# calculate the total student count using School_data_complete_df by using value_count()

per_school_counts=school_data_complete_df["school_name"].value_counts()
per_school_counts

# 4.8.3 Get the Budget Per Student
budget_per_student = budget of each school / student count per school

In [ ]:
# calculate the total school budget
per_school_buget = school_data_df.set_index(["school_name"])["budget"]
per_school_buget

In [ ]:
# calculate the per capita spending (budget for each student for each school)
# Both per_school_budget and per_school_counts are Series, both data types are int64, both have the same index
per_school_capita = per_school_buget/per_school_counts
per_school_capita

# 4.8.4 Get the Score Averages per School
use mean() method

In [ ]:
# calculate te math scores
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

In [ ]:
# groupby() function

# calculate the average math scores
per_school_averages =school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
# cacluate the average math test scores
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

In [ ]:
# cacluate the average reading test scores
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

# 4.8.5 Get the Passing Percentages per School
pseudocode
1. Determine what is the passing grade
2. Get the number students who passed math and reading
3. Get the students who passed math and passed reading

In [ ]:
# Determined the students who passed math and reading 
# passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >=70)]
# passing_math

# passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >=70)]
# passing_reading

In [ ]:
#Determined the students who passed math and reading 
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >=70)]
# per_school_passing_math

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >=70)]
# per_school_passing_reading

In [ ]:
# To create a Series that has school_name as the index, we'll use groupby(["school_name"]) on the per_school_passing_math and the per_school_passing_math DataFrames.

# count() to get the number of student who passed

# Calculate the number of students passing math and passing reading by school
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
# per_school_passing_math

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
# per_school_passing_reading

In [ ]:
# Determine the Percentage of Students Passing Math and Rading

# Calculate the perecentage of passing math and reading scores per school

per_school_passing_math = per_school_passing_math/per_school_counts*100

per_school_passing_reading=per_school_passing_reading/per_school_counts*100

per_school_passing_math
per_school_passing_reading

In [ ]:
# To get the overall passing percentage, we need to get all the students who passed both math and reading and then divide by the total number of students.
# calculate the students who passed both math and reading

# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

In [ ]:
# Get the total number of students from each school who passed both math and reading
# step 1: set the school name as index
# step 2 get the number of students

per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

In [ ]:
# calculate the percentage of students who passed math and reading b diving the number of students * 100

per_overall_passing_pecentage=per_passing_math_reading/per_school_counts*100
per_overall_passing_pecentage

# 4.8.6 Create the School Summary DataFrame

In [ ]:
# To creat per_school_summary, the column names will be the keys

# adding a list of values with keys to creat a new DataFrame

per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_buget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing":per_overall_passing_pecentage 
})

per_school_summary_df.head()

# 4.8.7 Clean Up the DataFrame
To format every row in the column, use map() function.
Inside the parentheses, apply formatting with {" "}.format

In [ ]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"]=per_school_summary_df["Total School Budget"].map("${:.2f}".format)

per_school_summary_df["Per Student Budget"]=per_school_summary_df["Per Student Budget"].map("${:.2f}".format)

# Dispaly the dataframe
per_school_summary_df.head()

# 4.9.1 Find the Highest-Performing School
df.sort_values([column name], ascending = False)
ascending = False  (highest to lowest)
ascending = True (lowest to highest)   ---DEFAULT

df.head()
df.tail()

In [ ]:
# sort and show top five schools
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

# 4.9.2 Find the Lowest-Performing Schools

In [ ]:
# sore and show bottom five school

# OPTION 1  (Ascending = True is default)
# bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"])

# OPTION 2
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

#  4.10.1 Create Grade-Level DataFrames

In [ ]:
school_data_complete_df.head(10)

In [ ]:
#create a series for each grade level

# # return true or false is it is ninth grader
# ninth_graders = school_data_complete_df["grade"]=="9th"  
# ninth_graders

# to filter and find all ninth graders#
# school_data_complete_df[(school_data_complete_df["grade"]=="9th")]

ninth_graders =school_data_complete_df[(school_data_complete_df["grade"]=="9th")]

tenth_graders=school_data_complete_df[(school_data_complete_df["grade"]=="10th")]

eleventh_graders =school_data_complete_df[(school_data_complete_df["grade"]=="11th")]

twelfth_graders =school_data_complete_df[(school_data_complete_df["grade"]=="12th")]

# 4.10.2 Score Averages Grouped by School Name
average math and reading scores for each grade level and for each school

In [ ]:
# Get the Average math scores for each grade level
# Group each school Series by the school name for the average math score.

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# ninth_grade_math_scores
# tenth_grade_math_scores
# eleventh_grade_math_scores
# twelfth_grade_math_scores

In [ ]:
# Get the Average reading scores for each grade level
# Group each school Series by the school name for the average reading score.

ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

# ninth_grade_reading_scores
# twelfth_grade_reading_scores

# 4.10.3 Combine the Series into a DataFrame

In [ ]:
# add the math scores for each grade level to a new datFrame
# combine each Series for average math score by school into Single DataFrame

math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

math_scores_by_grade.head()

In [ ]:
# add the reading scores for each grade level to a new datFrame
# combine each Series for average math score by school into Single DataFrame

reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_math_scores
})

reading_scores_by_grade.head()

# 4.10.1 Format the Averages and Remove the Index Name

In [ ]:
# Format each grade column.
math_scores_by_grade["9th"]=math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["10th"]=math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"]=math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["12th"]=math_scores_by_grade["12th"].map("{:.1f}".format)

# Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[
    ["9th","10th","11th","12th"]
]

# Remove the index name
math_scores_by_grade.index.name = None

math_scores_by_grade

In [ ]:
# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[
    ["9th", "10th", "11th", "12th"]]

# Remove the index name.
reading_scores_by_grade.index.name = None
 
# Display the data frame.
reading_scores_by_grade.head()

# 4.11.1 Establish the Spending Ranges per Student
## describe() method---descriptive statistics
* Numbers of row in the dataFrames / Series as count()
* The average of the ows as mean()
* The standard deviation of the rows as std()
* The minimun and maximum value of the rows as min(), max()
* The 25th, 50th, 75th percentile as 25%(), 50%(), 75%()

In [ ]:
# Get the Spending Ranges
# Get the dscriptive statistics for the per_school_capita.

per_school_capita.describe()

In [ ]:
# Groups the spending ranges
# cut() function
# pd.cut(df,ranges)

# cut the per-school_capita into the spending ranges.

# Range for the bins as follows
# $0-585, 586-615, 616-645, 646-675
spending_bins=[0,585,615,645,675]
spending_bins

pd.cut(per_school_capita, spending_bins)

In [ ]:
# # Range for the bins as follows  (without $0)
# # $585, 586-615, 616-645, 646-675
# spending_bins=[585,615,645,675]
# spending_bins

# pd.cut(per_school_capita, spending_bins)

In [ ]:
# Determine how many schools in each bin
# cut them use GroupsBy as index, then use count() method

# Range for the bins as follows
# $0-585, 586-615, 616-645, 646-675
spending_bins=[0,585,615,645,675]
spending_bins

per_school_capita.groupby(pd.cut(per_school_capita,spending_bins)).count()

In [ ]:
# Determine how many schools in each bin (more fair distribution)
# cut them use GroupsBy as index, then use count() method

# Range for the bins as follows
spending_bins=[0,585,630,645,675]
spending_bins

per_school_capita.groupby(pd.cut(per_school_capita,spending_bins)).count()

In [ ]:
# Name each range
# Establish the spending bins and group names.

spending_bins=[0,585,630,645,675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

#  4.11.2 Categorize the Spending Bins

In [ ]:
per_school_summary_df

In [ ]:
# Categorize spending based on the bins
# Add a new columns ("Spending Ranges (Per Student)
# pd.cut(per_school_capita,spending_bins,labels=group_names==these are the valeu go to the new column

# when new column is added to a DatafRame, always go to the last
# when add new item to a list, always added to the end, unlesee specify a list index itshould be placed

per_school_summary_df["Spending Ranges (Per Student)"]=pd.cut(per_school_capita,spending_bins,labels=group_names)

per_school_summary_df.head()

#  4.11.3 Group by the Spending Ranges
to create a Series that has acolumn as the index, use the groupby() function on the DataFrame and add the column inside the paranthesis

In [ ]:
# Calculate averages for the desired columns

spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

# 4.11.4 Create a DataFrame for the Scores by School Spending
To adda list or Series to a DataFrame
df = pd.DataFrame({"column name": column values})

In [ ]:
# Assemble into DataFrame.
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
# Formatting
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

# 4.12.1 Create Bins for School Size

In [ ]:
per_school_counts

In [ ]:
# Establish the bins
# 0
# 1000   (1-999)
# 2000   (1000-1999)
# 5000   (2000-5000)

size_bins =[0,1000,2000,5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# 4.12.2 Categorize the Size Bin

In [ ]:
# Categorize spending based on the bins.
# add a new column
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

# 4.12.3 Group by School Size

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

# 4.12.4 Createa DataFrame for the Scores by School Size

In [ ]:
# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

In [ ]:
# Formatting.
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

# 4.13.1 Group By School Type

In [ ]:
# Calculate averages for the desired columns.
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame.
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df

In [ ]:
# Formatting
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df